body {
    font-family: 'Comic Sans MS', sans-serif;
    background-image: url('2.png.jpg');
    
    background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
 
    min-height: 10vh
}

.weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 350px;
    text-align: center;
    opacity: 0.9;
}

.weather-header {
    margin-bottom: 20px;
}

.weather-header h1 {
    margin: 0;
    font-size: 32px;
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.weather-header input {
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 24px);
    border: 2px solid #ff69b4;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}

.weather-header button {
    padding: 12px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.weather-header button:hover {
    background-color: #ff1493;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    margin: 0;
    font-size: 24px;
    color: #ff69b4;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.weather-info p {
    margin: 8px 0;
    font-size: 18px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
}
